@import "tailwindcss";

@theme {
  --color-primary: #A78BFA;
  --color-secondary: #5EEAD4;
  --color-accent: #1A1D24;
  --color-background: #0F1115;
  --color-text: #E6EAF2;
  --color-error: #F87171;

  --background-gradient: linear-gradient(135deg, #0F1115, #1A1D24, #1F1B2E);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
